.game-view-container {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/background.svg');
    background-repeat: no-repeat;
    background-size: cover; /* or contain, depending on your layout */
    background-position: center;
    display: flex;
    flex-direction: column;
}

.scores-container {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.countdown-container {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: white;
    font-family: "Inter";
    font-weight: bold;
    font-size: 150px;
}

.countdown-value {
    transition: .3s;
    margin: auto;
    width: 40%;
    height: 40%;
    text-align: center;
    z-index: 3;
}

.question-container {
    transition: .3s;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: rgba(32, 70, 107, 1);
    font-family: "Inter";
    font-weight: bold;
    font-size: 60px;
}

.question {
    transition: .3s;
    margin: auto;
    width: 40%;
    min-height: 40%;
    background: rgba(253, 255, 255, 1);
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 21.9px 0px rgba(0, 0, 0, 0.25);
    z-index: 3;

}

.answer {
    color: white;
    z-index: 3;
}

.zloci {
    background: rgba(207, 160, 54, 0.8);
}

.niebiescy {
    background: rgba(9, 85, 151, 0.8);
}

.poprawna {
    background: rgba(59, 141, 24, 0.8);
}

.niepoprawna {
    background: rgba(208, 53, 66, 0.8);
}

.answering-team-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: rgba(32, 70, 107, 1);
    font-family: "Inter";
    font-weight: bold;
    z-index: 3;
    font-size: 40px;
}

.answering-team {
    width: 20%;
    background: rgba(253, 255, 255, 1);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 21.9px 0px rgba(0, 0, 0, 0.25);
}

.next-question-button:hover {
        background: rgb(226, 226, 226);
}

.next-question-button {
    cursor: pointer;
    width: 20%;
    background: rgba(253, 255, 255, 1);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 21.9px 0px rgba(0, 0, 0, 0.25);
}


.score-value {
        font-size: 45px;
}

.team-score {
    cursor: pointer;
    background: rgba(56, 148, 229, 1);
    width: 12vw;
    height: 13vh;
    font-size: 25px;
    font-family: "Inter";
    font-weight: bold;
    text-align: center;
    border: 4px solid rgba(20, 130, 226, 1);
    box-shadow: 0px 4px 21.9px 0px rgba(0, 0, 0, 0.25);
    line-height: 2;
    box-shadow: 0px 4px 0px 0px rgba(20, 130, 226, 1);
    border-radius: 16px;
}

.team2 {
    background: rgba(207, 160, 54, 1);
    border: 4px solid rgba(165, 128, 43, 1);
    box-shadow: 0px 4px 21.9px 0px rgba(0, 0, 0, 0.25);

box-shadow: 0px 4px 0px 0px rgba(165, 128, 43, 1);

}