.before-game-container {
    width: 100%;
    height: 100%;
  background-image: url('../../assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover; /* or contain, depending on your layout */
  background-position: center;
  display: flex;
}

.before-game-container a {
    text-decoration: none;
    color: white;
    margin: auto;
}

.start-game-button:hover {
    background: rgb(46, 122, 189);
}

.start-game-button {
    cursor: pointer;
    margin: auto;
    background: rgba(56, 148, 229, 1);
    width: 400px;
    height: 100px;
    font-size: 40px;
    font-family: "Inter";
    font-weight: bold;
    text-align: center;
    border: 4px solid rgba(20, 130, 226, 1);
    box-shadow: 0px 4px 21.9px 0px rgba(0, 0, 0, 0.25);
    line-height: 2.5;
    box-shadow: 0px 4px 0px 0px rgba(20, 130, 226, 1);
    border-radius: 16px;
}