.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.controls-container {
  text-align: center;
  margin: auto;
  background: white;
  color: gray;
  font-size: 70px;
  width: 80%;
  height: 60%;
}

.leds-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button-led {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  background-color: blue;
}